/.idea
/bootstrap/compiled.php
/public/sliders/
/public/users/
/vendor
app/config/database.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
app/config/mail.php
Thumbs.db
.htaccess
/public/upload/*
*.sql
/node_modules/
/public/sliders/*
/public/exports/*
/public/toUpload/*
/public/art/*
/public/art/
/app/config/app.php
