/*
   Author: Juan2Ramos & Drawde
   Description: Template créditos
   Author URI: juan2ramos.com - mi-martinez.com
   Version: 0.1
*/

/* Format Elements */
@font-face {
    font-family: 'creditsfont';
    src: url('font/creditsfont.eot?51183993');
    src: url('font/creditsfont.eot?51183993#iefix') format('embedded-opentype'),
    url('font/creditsfont.woff?51183993') format('woff'),
    url('font/creditsfont.ttf?51183993') format('truetype'),
    url('font/creditsfont.svg?51183993#creditsfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "creditsfont", serif;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-align: center;
    font-variant: normal;
    text-transform: none;
}

.icon-search:before {
    content: '\e832';
}

.icon-user-1:before {
    content: '\e800';
}

/* '' */
.icon-twitter-1:before {
    content: '\e801';
}

/* '' */
.icon-facebook-1:before {
    content: '\e802';
}

/* '' */
.icon-instagramm:before {
    content: '\e803';
}

/* '' */
.icon-youtube:before {
    content: '\e804';
}

/* '' */
.icon-heart:before {
    content: '\e805';
}

/* '' */
.icon-star:before {
    content: '\e806';
}

/* '' */
.icon-star-half-alt:before {
    content: '\e807';
}

/* '' */
.icon-ok:before {
    content: '\e808';
}

/* '' */
.icon-ok-circled:before {
    content: '\e809';
}

/* '' */
.icon-cancel-circled:before {
    content: '\e80a';
}

/* '' */
.icon-cancel:before {
    content: '\e80b';
}

/* '' */
.icon-plus-squared:before {
    content: '\e80c';
}

/* '' */
.icon-thumbs-up-alt:before {
    content: '\e80d';
}

/* '' */
.icon-thumbs-down-alt:before {
    content: '\e80e';
}

/* '' */
.icon-download:before {
    content: '\e80f';
}

/* '' */
.icon-upload:before {
    content: '\e810';
}

/* '' */
.icon-plus-circled:before {
    content: '\e811';
}

/* '' */
.icon-trash-empty:before {
    content: '\e812';
}

/* '' */
.icon-print:before {
    content: '\e813';
}

/* '' */
.icon-bell-alt:before {
    content: '\e814';
}

/* '' */
.icon-bell:before {
    content: '\e815';
}

/* '' */
.icon-comment-empty:before {
    content: '\e816';
}

/* '' */
.icon-file-pdf:before {
    content: '\e817';
}

/* '' */
.icon-file-excel:before {
    content: '\e818';
}

/* '' */
.icon-file-word:before {
    content: '\e819';
}

/* '' */
.icon-folder-open:before {
    content: '\e81a';
}

/* '' */
.icon-folder:before {
    content: '\e81b';
}

/* '' */
.icon-cog:before {
    content: '\e81c';
}

/* '' */
.icon-chart-pie:before {
    content: '\e81d';
}

/* '' */
.icon-chart-area:before {
    content: '\e81e';
}

/* '' */
.icon-chart-bar:before {
    content: '\e81f';
}

/* '' */
.icon-user:before {
    content: '\e820';
}

/* '' */
.icon-info-circled:before {
    content: '\e821';
}

/* '' */
.icon-help-circled:before {
    content: '\e822';
}

/* '' */
.icon-users:before {
    content: '\e823';
}

/* '' */
.icon-child:before {
    content: '\e824';
}

/* '' */
.icon-male:before {
    content: '\e825';
}

/* '' */
.icon-user-2:before {
    content: '\e826';
}

/* '' */
.icon-user-3:before {
    content: '\e827';
}

/* '' */
.icon-child-1:before {
    content: '\e828';
}

/* '' */
.icon-user-4:before {
    content: '\e829';
}

/* '' */
.icon-th-large:before {
    content: '\e82a';
}

/* '' */
.icon-th-list:before {
    content: '\e82b';
}

/* '' */
.icon-table:before {
    content: '\e82c';
}

/* '' */
.icon-comment:before {
    content: '\e82d';
}

/* '' */
.icon-article-alt:before {
    content: '\e82e';
}

/* '' */
.icon-arrows-cw:before {
    content: '\e82f';
}

.icon-logout:before {
    content: '\e830';
}

.icon-login:before {
    content: '\e831';
}

.icon-pinterest:before { content:'\e89'; }

.body-all{
    min-height: 89%;
}

*:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    color: #949494;
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 14px;
}

li {
    list-style: none;
}

h1, h2, h3, ul, figure {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 100;
    margin: 20px auto 30px;
    max-width: 1000px;
    padding: 0;
    text-align: center;
}

img, .img-slider{
    width: 100%;
}

.wrap {
    max-width: 1180px;
    margin: 15px auto 0 auto;
    padding: 0 15px;
    position: relative;
    width: 100%;

}


.u-shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.u-shadow-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.u-shadow-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.u-shadow-4 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.u-shadow-5 {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    margin-bottom: 139px;
}

.u-button {
    -webkit-transform: translate3d(0, 0, 0);
    position: relative;
    padding: 15px;
    background-color: #e80e8a;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 0 #c40c74;
    border: none;
    width: 100%
}

.u-button:hover {
    background: #ff0f98;
}

.u-circle {
    position: absolute;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    width: 100px;
    height: 100px;
}

.u-circle.is-animate {
    -webkit-animation: grow .3s linear;
    animation: grow .3s linear;
}

@-webkit-keyframes grow {
    to {
        -webkit-transform: scale(2.5);
        opacity: 0;
    }
}

@keyframes grow {
    to {
        -webkit-transform: scale(2.5);
        opacity: 0;
    }
}

/* Header */

.Header {
    text-align: center;
    width: 100%;
}

.content-header{
    background: #dedede;
}

.Logo{
    height: 137px;
}

.Header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    max-width: 1180px;
}

.Header-logoLilipink {
    background: #e80e8a;
    padding: 10px 10px 8px;
    width: 100px;
}

.Header-logoIntima {
    padding: 10px 10px 8px;
    width: 170px;

}

.Header-nav {
    display : none;
    background: rgba(255, 255, 255, 0.96);
    height: 100%;
    left: 0;
    padding-top: 50px;
    position: fixed;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
    top: 0;
    width: 100%;
    z-index: 200
}

.Header-nav > ul {
    width: 100%;
}

.Header-nav > ul > li ul {
    display: none;
}

.Header-nav > ul > li:first-child > a {
    border-top: 1px solid #e80e8a;
}

.Header-nav a {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e80e8a;
    border-left: 1px solid #e80e8a;
    border-right: 1px solid #e80e8a;
}

.Header-nav > ul > li {
    margin: 0 20px;
}

.Header-nav ul a:hover {
    background: #e80e8a;
    color: #fff;
}

.Header-nav li a {
    color: gray;
    font-size: 1.5em;

}

.Header-nav ul > li:hover > ul {
    display: block;
}

.Header-contentNav {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    text-align: right;

}





.Header-buttonNav {
    background: #9d9d9d;
    cursor: pointer;
    display: none;
    margin-bottom: -3px;
    position: relative;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2000;
}

@media all and (min-width: 30px)  and (max-width: 900px){
    .Header-buttonNav {
        display: inline-block;
        height: 34px;
        width: 39px;
    }

    .Header-line1, .u-line{
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    #header-menu{
        display:none;
    }

    .Header-content{
        height: 34px;
    }

    .Header-contentNav{
        margin-left: -30px;
    }

    .Header-logoLilipink{
        padding: 10px 2px 8px;
        width: 20%;
    }

    .Header-logoIntima{
        width: 36%;
    }

    .material-header{
        flex-direction: column-reverse;
    }
    .material-card{
        margin: 15px 0 !important;
    }
    .material-item{
        margin: auto !important;
    }
    .material-item:first-child {
        display: none !important;
    }
}

.show--element {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.u-line {
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.2s cubic-bezier(0.2, 0, 0.03, 1)
}

.Header-buttonNav.is-show .Header-line1 {
    -webkit-transform: rotate(135deg) translate(5px, -5px);
    transform: rotate(135deg) translate(5px, -5px);
}

.Header-buttonNav.is-show .Header-line2 {
    opacity: 0;
}

.Header-buttonNav.is-show .Header-line3 {
    -webkit-transform: rotate(-135deg) translate(5px, 5px);
    transform: rotate(-135deg) translate(5px, 5px);
}

.u-line {
    display: block;
    background: #dedede;
    height: 4px;
    margin: 3px;
    width: 25px;
}

/* MENU */

#header-menu{
    display: block;
    margin: auto;
    max-width: 1180px;
}

#header-menu nav{
    display: block;
    height: auto;
}

#header-menu ul{
    list-style:none;
    border-top:#CCC solid 1px;
    border-bottom:#CCC solid 1px;

    text-align:center;
}

#header-menu ul li{
    display:inline-block;
    margin:13px 10px 20px 10px;
    font-family: 'Open Sans', sans-serif;
}

#header-menu ul li a{
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    text-decoration:none;
    text-transform: uppercase;

}

#header-menu ul li a:hover{
    border-bottom: 2px solid #ba087e;
    border-top: 2px solid #ba087e;
    color: #ba087e !important;
    padding-top: 11px;
    padding-bottom: 13px;
    width: 100%;
    background: none;
}

.type-account{
    text-align: center;
    margin-top: 55px;
    font-size: 20px;
    font-weight: 700;
}

/* Input */
.material-input input {
    width: 100%;
    position: relative;
    background: transparent;
    border: none;
    box-shadow: 0 2px 0 0 rgba(102, 102, 102, 0.08);
}

.material-input input:focus {
    outline: 0;
}

.material-input {
    margin: 40px 0;
    position: relative;
}

.material-input input:focus ~ span {
    width: 100%;
}

.material-input input:focus {
    height: 40px !important;
}

.material-input input:focus {
    outline: 0;
}

.material-input span {

    display: block;
    width: 0;
    height: 2px;
    background: #e80e8a;
    position: absolute;
    bottom: -2px;
    left: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.2s cubic-bezier(0.2, 0, 0.03, 1)
}

.material-input label {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
}

.material-input input:focus ~ label/*, .material-input input:valid ~ label*/ {
    top: -10px!important
}

/*.material-input input:valid ~ span {
    width: 100%
}*/

.material-input input:focus /*.material-input input:valid*/ {
    height: 40px !important;
    padding-top: 20px !important;
}

/* Login */

.Content-home{
    text-align: center;
}

.content-sign-up{
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
}

.Login {
    background: rgba(13, 12, 12, 0.03);
    border: 2px solid rgba(204, 204, 204, 0.53);
    max-width: 600px;
    height: 245px;
    padding: 20px 30px;
    width: 356px;

}

.Login .content-inf{
    margin-top: 25px;
}

.Login h2{
    font-size: 17px;
    font-weight: 200;
    margin-top: 10px;
}

.Login .title{
    font-weight: 100;
    font-size: 13px;
}

.Login .title-body{
    font-weight: 300;
    font-size: 18px;
}


.Login .button-edit{
    background: rgb(148, 148, 148);
    border: 1px solid rgba(102, 102, 102, 0.21);
    color: white;
    display: block;
    font-size: 12px;
    float: right;
    font-weight: 100;
    padding: 6px 13px 4px 13px;
    width: 113px;
}

.Login section figure{
    display: inline-block;
    position: relative;
    width: 110px;
    height: 100px;
}

.Login section figure img{
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
}

.Login section div{
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-top: -11px;

}

.Login-form #email{
    font-weight: 100;
    font-size: 14px;
    width: 100%;
}


.Login-form #password{
    font-weight: 100;
    font-size: 14px;
    width: 100%;
}

.Login-form input{
    border: 1.5px solid;
    height: 33px;
    margin-bottom: 12px;
    margin-top: 3px;
    width: 100%;
}

.Login p{
    font-size: 17px;
    margin: 11px 0px;
}

.label--checkbox {
    display: inline-block;
    position: relative;
    line-height: 200%;
    cursor: pointer;
    margin: 24px 9px;
    padding: 0 2px 20px
}

.content-condition{
    background: rgba(23, 20, 20, 0.1);
    display: inline-block;
    overflow: scroll;
    margin: 0 10px 10px 10px;
    vertical-align: top;
    width: 580px;
    height: 70px;
}

.checkbox {
    position: relative;
    margin: 0 1rem 0 0;
}

.checkbox:before {

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
    width: 14px;
    height: 14px;
    border: 2px solid #bfbec0;
}

.checkbox:checked:before {

    -webkit-transform: rotate(-45deg);

    transform: rotate(-45deg);
    height: 5px;
    width: 10px;
    top: 2px;
    left: 1px;
    border-color: #e80e8a;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:checked:after {
    background: #fff;
    border: 2px solid #e80e8a;
    top: -2px;
    left: -2px;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    background: rgb(219, 215, 211);
    cursor: pointer;
}

.label-danger {
    display: block;
    color: rgb(231, 90, 64);
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 30px;
}

.Credito {
    margin: 10% auto 0;
    max-width: 1024px;
}

.Credito-form {
    margin: auto;
    padding: 20px 20px 50px;
    width: 80%;
}

.request-image {
    margin-bottom: 30px;
}

#files {
    margin-bottom: 10px;
}

.pop-up {
    border: 1px solid #ff0f98;
    font-size: 16px;
    height: 200px;
    margin-bottom: 20px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.pop-up p {
    font-size: 1.12em;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
}

.pop-up:hover {
    border: 1px dashed #ff0f98;
}

#image-file {
    width: 0;
    height: 0;
}

input[type=file] {
    border: 1px solid #ff0f98;
    cursor: pointer;
    height: 200px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 4;
    left: 0
}

#photo{
    border: 1px solid #ff0f98;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    left: 0;
    margin: 5px 0px;
    opacity: 1;
    position: inherit;
    padding: 8px 75px;
    width: 100%;
    z-index: 4;



}

.Credit-select {
    font-size: 18px;
    height: 35px;
    margin-top: 19px;
    width: 100%;
    background: transparent;
    border:1px solid rgb(232, 14, 138);

}

.Credit-select:focus {
    -webkit-animation: myfirst 2s;
    animation: myfirst 2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes myfirst {
    0% {
        border-bottom: 2px solid #e80e8a
    }
    50% {
        border-right: 2px solid #e80e8a
    }
    75% {
        border-top: 2px solid #e80e8a
    }
    100% {
        border-left: 2px solid #e80e8a
    }
}

@keyframes myfirst {
    0% {
        border-bottom: 1px solid #e80e8a
    }
    50% {
        border-right: 1px solid #e80e8a
    }
    75% {
        border-top: 1px solid #e80e8a
    }
    100% {
        border-left: 1px solid #e80e8a
    }
}

.hover-file {
    background: rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border: none !important;
}

.hover-file1 {
    background: rgba(0, 0, 0, 0.46);
    height: 100% !important;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100% !important;
    z-index: 4 !important;
}

.hover-file2 {
    height: 100% !important;
    width: 35% !important;
    min-width: 400px;
    top: 50%;
}

.img-content {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    text-align: center;
    width: 80px;
}

.request-image img {
    padding: 5px;
    vertical-align: middle;
    width: 50px;
}

.p-image{
    display: none ;
}

.p-image1 {
    word-break: break-all;
    width: 80px;
    font-size: 10px;
}

.Credit-section {
    min-width: 312px;
    display: inline-block;
    vertical-align: top;
    width: 45%;

}

.u-CreditSection {
    margin-right: 70px;
    margin-bottom: -38px;
}

.Credit h1 {
    text-align: center;
    padding-top: 50px;
}

.Remember {
    display: inline-block;
    font-size: 12px;
}

.Remember a {
    color: #949494;
}

.Remember a:hover {
    color: #ff53bd;
}

.justMail #password, .justMail #password + label, .justMail .label--checkbox, .justMail .label-danger {
    display: none;
}

.u-loader {
    background: rgba(255, 250, 250, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: -10;
}

.u-loader svg {
    margin-top: -50px;
    position: relative;
    top: 50%;
}

.u-loader svg path,
.u-loader svg rect {
    fill: #ff53bd;
}
.TitleReference{
    font-weight: 600;
    font-size: 1.1em;
    padding: 40px 0 0;
}
.notify {
    clear: both;
    font-size: 12px;
    display: block;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
    width: calc(100% - 40px);
    z-index: -10;
}

.notify strong {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 17px 10px;
    background: rgba(0, 0, 0, 0.1);

}

.notify span {
    padding-left: 15px;
}

.warning {
    background: #ffcb70;
    color: #a1772d;
    border: 1px solid #efb44e;
}

.error {
    background: #df7e7e;
    color: #fff;
    border: 1px solid #c16d6d;
}

.success {
    background: #7ec296;
    color: #537d62;
    border: 1px solid #6cb184;
}

.notify span.close-notify {
    background: rgba(0, 0, 0, 0.07);
    border: solid 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.4rem;
    float: right;
    line-height: 0;
    margin: 10px;
    padding: 12px 8px 14px;
    text-align: right;
}

.notify span.close-notify:hover {
    background: rgba(183, 183, 183, 0.07);

}

.is-show {
    -webkit-animation: show-animation 2s forwards;
    animation: show-animation 2s forwards;
    z-index: 3000
}

@-webkit-keyframes show-animation {
    20% {
        opacity: 1;
    }
    60% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

@keyframes show-animation {
    20% {
        opacity: 1;
    }
    60% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }

}

.Logo {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.Logo-img {
    height: 58px;
    margin-top: 38px;
    width: 268px;
}

.Banner-img {
    margin: auto;
    max-width: 960px;
    padding: 20px 10px
}

.Header-contentNav a {
    color: #9d9d9d;
    display: inline-block;
    font-size: 2em;
    line-height: 0;
    vertical-align: top;
}

a.icon-child-1 {
    background: rgb(96, 97, 104);
    display: none;
    padding: 18px 12px 20px;
}

a.icon-bell {
    color: rgb(219, 85, 61);
    font-size: 1.5rem;
    padding: 20px 12px 5px 5px;
    position: relative;
}

a.icon-bell span {
    background: rgb(219, 85, 61);
    border-radius: 50%;
    color: white;
    display: block;
    font-size: .7rem;
    left: 15px;
    padding: 10px 6px 9px;
    position: absolute;
    top: 2px;
}

a.login-button {
    background: #e80e8a;
    display: none;
    padding: 8px 12px;
    color: #fff;
    font-size: .8em;
    line-height: inherit;
    margin: 6px 5px 0 0;
    vertical-align: top;

}

.home-button{
    background: rgba(130, 130, 130, 0.67);
    border: 1px solid #949494;
    color: white;
    float: right;
    font-size: 12px;
    height: 27px;
    padding-top: 5px;
    width: 120px;
}

a.icon-logout {
    color: rgb(96, 97, 104);
    font-size: 1.1rem;
    line-height: inherit;
    margin: 11px 3px 0
}

.Table-content {
    overflow: auto;
    box-shadow: 0 1px 5px 0;
    max-width: 1000px;
    margin: auto;
}
.Back-content {
    overflow: auto;
    max-width: 1000px;
    margin: auto;
}

table {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
    max-width: 1000px;
}

table a {
    color: #e80e8a;
    font-size: 1.2rem;
    padding: 0 .2rem;
}

table a:hover {
    color: #ff54c2;
}

tbody tr:hover {
    background: #e7e9fd;
}

table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 16px;
    border-top: 1px solid #ddd;
}

.table > thead > tr, .table > tbody > tr, .table > tfoot > tr {

    -webkit-transition: all .5s ease;

    transition: all .5s ease;
}

.pagination {
    margin: 20px;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination li a, .pagination .active, .pagination .disabled {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    padding: 6px 12px;
    text-decoration: none;
}

.pagination li a {
    color: #e80e8a;
}

.pagination .active {
    background: #e80e8a;
    color: #fff;
}

.pagination > li:last-child > a, .pagination li:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li:first-child > a, .pagination li:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search{
    text-align: right;
    position: relative;
    height: 35px;
}
button.icon-search{
    background: #e80e8a;
    border: none;
    color: white;
    font-size: 1.2em;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 35px;
}
.search-input{
    border: solid 1px #ddd;
    height: 35px;
    padding-left: 50px;
    width: 100%;
    max-width: 250px;
}

.SearchBar{
    max-width: 1000px;
    margin: auto;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.SearchBar .Button >a{
    text-align: center;
    width: 250px;
}

.hidden{
    display: none;
}

#form-errors{
    background: #df7e7e;
    color: #fff;
    border: 1px solid #c16d6d;
    text-align: center;
}

#form-errors p{

}

/*button close*/
.img-content:hover .close-button{
    background: #ff0f98;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: -1px 10px -15px 44px;
    position: relative;
    width: 16px;
    z-index: 5;


}

.close-button-slider{
    background: #ff0f98;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    height: 16px;
    margin: 6px 12px -16px 2px;
    position: relative;
    width: 16px;
    z-index: 5;
}

.img-content:hover .close-line{
    background: white;
    display: block;
    height: 3px;
    margin: 6px 3px;
    position: absolute;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    width: 10px;
    z-index: 5;

}

.close-line-slider{
    background: white;
    display:inline-block;
    height: 3px;
    margin: 6px 3px;
    position: absolute;
    -webkit-transform: rotate(47deg);
    transform: rotate(47deg);
    width: 10px;
    z-index: 5;
}

.img-content:hover .close-line1{
    background: white;
    display: block;
    height: 3px;
    margin: 6px 3px;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    position: absolute;
    width: 10px;
}

.close-line1-slider{
    background: white;
    display: block;
    height: 3px;
    margin: 6px 3px;
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    position: absolute;
    width: 10px;
}

#date_birth,#date_expedition{
    color:rgba(161, 161, 161, 0);
}
#date_birth:focus,#date_expedition:focus{
    color:#949494;
}

/*Slider */

#slider{
    display: inline-block;
    max-width: 762px;
    text-align: center;
}
#slider img{
    display: none;
    height: 100%;
    width: 100%;
}
#slider img:nth-child(1){
    display: block;
}
#back, #next {

    background: #2a2a2a;
    display: block;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    height: auto;
    opacity: 0.8;
    position: absolute;
    padding: 1% 1%;
    text-decoration: none;
    top: 50%;
    width: auto;
    z-index: 1;
    display: none;
}
#back:hover, #next:hover{
    opacity:1;
}
#back{
    left: 48px;
}
#next{
    right: 48px;
}

.slider{
    background: rgba(24, 23, 23, 0.5) !important;
    color: rgba(222, 184, 135, 0);
    cursor: pointer;
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px;
    position: relative;
    top: -33px;

}
.sliderValid{
    cursor: pointer;
    display: inline-block;
    background: #e80e8a !important;
    width: 15px !important;
    height: 15px !important;
    border: 2px solid rgba(256, 256, 256, 1) !important;
    border-radius: 15px;
    position: relative;
    top:-33px;
}

/*Slider form*/

.Slider-form{
    margin: auto;
    padding: 20px 20px 50px;
    width: 80%;
}

.Slider-form #request-image{
    text-align: center;
}

.Slider-form #request-image img
{
    width: 300px;
}

.form-slider{
    margin: auto;
    padding: 20px 20px 50px;
    width: 80%;
}

.form-slider img{
    width: 100%;
}

#slider-edit section{
    width: 47.6%;
    display: inline-block;
    margin: 23px 8px;
}

.slider-content p{
    display: inline-block;
    font-size: 17px;
    margin-left: 10px;
}

.up{
    -webkit-animation: myfirst 2s;
    animation: myfirst 2s;
}

@keyframes myfirst {
    from {opacity: 0.1;}
    to {opacity: 1;}
}


.button-update{
    margin: 50px auto;
    max-width: 300px;
}

.slider-new{
    border-right: 2px solid;
    padding-right: 18px;
}

.slider-new:hover{
    color: #D5C4CE;
    cursor: pointer;
}

.slider-edit:hover{
    color: #D5C4CE;
    cursor: pointer;
}

#slider-delete{
    color: rgba(245, 245, 220, 0);
    height: 90px;
    width: 219px;
    position: relative;
    outline: 0;
    z-index: 6;
}

.number_slider{
    float:right;
}
.Input-more{
    background: rgb(238, 238, 238);
    border: 1px dashed;
    margin: 5px auto;
    max-width: 1000px;
}
#Input-more{
    height: 40px;
    margin: 10px;
    max-width: 700px;
    padding-left: 20px;
    width: 80%;
}
.u-more{
    background: #e80e8a;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    box-sizing: content-box;
    color: white;
    cursor: pointer;
    font-size: 2em;
    margin: 8px 30px;
    height: 40px;
    outline: none;
    padding: 0;
    pointer-events: auto;
    float: right;
    width: 42px;

}
.u-more:hover{
    box-shadow: none
}
.Input-more form{
    margin: auto;
}
.Label-priority{
    vertical-align: sub;
    margin-right: 10px;
}
.wrap-content{
    margin: 10px auto 0;
    margin-bottom: 190px;
    max-width: 1000px;
    width: 100%;
}
#Input-more {
    height: 40px;
    margin: 10px;
    max-width: 700px;
    padding-left: 20px;
    width: 80%;
}
.Input-title {
    height: 40px;
    margin: 10px 0;
    max-width: 700px;
    padding-left: 20px;
    width: 80%;
}
.u-link{
    margin: 0 0 50px 0;
    height: auto;
    padding: 10px 16px;
    width: auto;
}
.user-form {
    margin: auto;
    padding: 20px 20px 50px;
    width: 80%;
}
@media all and (max-width: 1024px) and (min-width: 400px) {
    .Credito {
        text-align: center;
    }

    .u-CreditSection {
        margin-right: 0 !important;
    }

    .Credit-section {
        width: 80% !important;
    }


}

@media (min-width: 100px) {
    .Remember {
        text-align: right;
    }

    a.login-button {
        padding: 8px 16px;
        font-size: .8em;
        margin: 6px 15px 0 0;
    }

    a.icon-child-1 {
        display: inline-block;
    }
}
@media (max-width: 900px) {
    .Input-more form {
        width: auto;
    }
    #Input-more {
        width: 50%;
    }
}


/*DATOS DE ACEPTACION DEL CREDITO*/

.errors{
    color: red;
    margin-top: -30px;
}

#showFiles{
    display: block;
    margin: auto;
    width: 55px;
}

#textTable{
    color: #e80e8a;
    font-size: 12px;
    margin: 2px;
    padding: 0 .2rem;
}

.acceptSection{
    margin: auto;
    text-align: center;
    width: 1000px;
    margin-bottom: 139px;
}

.acceptSection h2{
    margin:10px;
}

.accpt-checkbox {
    display: inline-block;
    margin: 20px 40px 20px 40px;
}

.accept-content{
    display: block;
}
.icon-file-excel,.icon-file-pdf, .icon-file-word{
    display: inline-block;
    font-size: 2rem;
}
.icon-file-excel{
    color: #48A12F;
}
.icon-file-pdf{
    color: #E25D5D;
}
.accept-radio{
    -webkit-animation: show-animation 3s ;
    animation: show-animation 3s ;
}

.accept-radio input{
    margin: 35px;
}

.input-content .material-input{
    display: inline-block;
    margin: 50px;
    width: 120px;

}

.icon-upload{
    color: #e80e8a;
}

.accept-links{
    text-align: center;
    margin-top: 100px;
}

/* HOME */

.content-creditRequest{
    background: rgba(165, 165, 165, 0.25);
    border: 2px solid rgba(166, 157, 157, 0.63);
    height: 180px;
    margin-top: 27px;
    padding: 16px 30px;
    width: 356px;

}

.content-creditRequest .Home-request p{
    font-size: 17px;
}

.content-creditRequest .Home-request form{
    font-size: 14px;
}

.home-request .content-text{
    display: inline-block;
}

.home-request .state-text{
    font-weight: 100;
}

.home-request .state-text1{
    font-weight: 800;
    float: right;
    text-align: right;
    width: 107px;
}

.home-request h2{
    font-weight: 200;
    font-size: 17px;
}

.home-request .state-home{
    background: red;
    color: white;
    float: right;
    font-size: 12px;
    margin-top: -4px;
    padding: 5px 6px 2px 4px;
    width: 78px;
}

.home-request a{
    background: rgb(148, 148, 148);
    border: 1px solid rgba(102, 102, 102, 0.21);
    color: white;
    display: block;
    font-size: 12px;
    float: right;
    font-weight: 100;
    padding: 6px 13px 4px 13px;
    width: 152px;

}

.content-Request{
    padding-top: 15px;
}

/* LAYOU REDES SOCIALES */

.content-social{
    background: rgba(165, 165, 165, 0.21);
    color: rgba(0, 0, 0, 0.69);
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

.social-text a{
    width: 30px;
    height: 30px;
}
.content-social .social-text a {
    border: 1px solid rgba(0, 0, 0, 0.69);
    border-radius: 19px;
    color: rgba(0, 0, 0, 0.69);
    display: inline-block;
    font-size: 12px;
    padding-top: 8px;
}

.content-social .social-text p{
    display: inline-block;
    position: relative;
    top: 0;
}

/* FOOTER */

footer{
    text-align: center;
    font-size: 12px;
    background: #6E6C6C;
    margin: 0;
    padding: 5px;
}

/* UPDATE USER */

.update-user{
    padding: 0px 62px 34px;
}

.update-user .User-section{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
}
.User-section:first-of-type{
    padding-left: 0;
    padding-right: 15px;
}


.material-card{
    background: rgba(222, 222, 222, 0.29);
    border: 1px solid #E80E8A;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 500px;
}

.material-card input{
    width: 280px;
    height: 33px;
    border: 1px solid #E80E8A;
}

.material-card label{
    display: block;
    padding: 15px;
    width: 100%;

}



/* RESPONSIBE */

@media all and (min-width: 320px)  and (max-width: 1135px){

    .content-condition{
        margin: 0 0 10px 0;
        width: 100%;
    }

}

@media all and (min-width: 320px)  and (max-width: 900px){

    body{
        margin: 0;
        padding: 0;
        width: 100%!important;
    }

    .Header-content{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #slider{
        display: none;
    }

    .notify{
        width: 100%;
    }

    .content-sign-up{
        text-align: left;
        margin: 0;
    }

    .Header-contentNav .icon-logout{
        margin-top: 8px;
    }

    .Header-contentNav .icon-child-1{
        font-size: 19px;
        padding-bottom: 15px;

    }

    .content-social .social-text p{
        display: block;
    }

    .content-social .social-text a{
        margin-bottom: 10px;
    }

    #slider-edit section{
        width: 100%;
        margin-left: 0;
    }

    .Table-content th{
        display: none;
    }

    .Table-content td{
        display: block;
    }

    .wrap-content{
        display: block;
        height: 32px;
        margin-top: 26px;
        text-align: center;
    }

    .u-more{
        float: initial;
    }

    .acceptSection{
        width: 100%;
    }

    .User-section{
        width: 100%!important;
        padding: 0 !important;
    }

    .State{
        height: 410px;
        text-align: center;
        width: 100%;
    }

    .State section figure{
        display: block;
        width: 100%;
        height: 100px;
        margin-bottom: 50px;
    }

    .Login section figure img{
        position: relative;
    }

    .content-creditRequest, .Login, .material-card , .material-card input{
        width: 100%;
    }

    .Credit-select, .material-input input{
        width: 75%;
    }

    #photo{
        padding: 8px 27%;
    }

    .Login,
    .content-creditRequest,
    .content-Request
    {
        min-width: 327px !important;
    }

}

@media all and (min-width: 900px)  and (max-width: 1179px){
    #header-menu ul li{
        margin: 13px 12px 20px 7px;
    }
}


@media all and (min-width: 900px)  and (max-width: 1190px){

    .Login{
        display: inline-block;
        padding-left: 15px;
    }

    .content-creditRequest{
        display: inline-block;
        height: 245px;
        margin-top: 0;
        margin-left: 33px;
        vertical-align: top;
        padding-top: 36px;
    }

    .wrap-content{
        display: block;
        height: 32px;
    }

    .u-more{
        float: right;
    }

    .Credit-section {
        width: 100% !important;
    }
}

/* PRELOAD */
.preload{
    margin: 32px auto 10px;
    height: 42px;
    width: 42px;
    position: relative;
    -webkit-animation:window_animation 3s infinite linear;
}

.preload span{
    border-radius:15px;
    position: absolute;
    background: #e80e8a;
    height: 20px;
    width: 20px;
    -webkit-animation:window_span_animation 1s infinite linear;
}

.preload span:nth-child(1){

}

.preload span:nth-child(2){
    left: 22px;
    -webkit-animation-delay:0.2s;
}

.preload span:nth-child(3){
    top:22px;
    -webkit-animation-delay:0.4s;
}

.preload span:nth-child(4){
    top:22px;
    left: 22px;
    -webkit-animation-delay:0.6s;
}

@-webkit-keyframes window_animation{
    0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

@-webkit-keyframes window_span_animation{
    0%{transfrom:scale(0); }
    50%{transfrom:scale(1);}
    100%{-webkit-transform: scale(0);transform: scale(0);background: rgba(232, 14, 55, 0.28);}
}

#request-xsl{
    text-align: center;
}

#request-xsl img{
    margin: 10px;
    width: 100px;

}
.faq{
    margin: 0 auto 60px;
    max-width: 750px;
}
#modal {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    float: left;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(198,198,198,0.2)), color-stop(13%,rgba(186,186,186,0.2)), color-stop(99%,rgba(110,110,110,0.34)), color-stop(100%,rgba(109,109,109,0.34)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(198,198,198,0.2) 0%,rgba(186,186,186,0.2) 13%,rgba(110,110,110,0.34) 99%,rgba(109,109,109,0.34) 100%);
    background: -webkit-radial-gradient(center ellipse, rgba(198,198,198,0.2) 0%,rgba(186,186,186,0.2) 13%,rgba(110,110,110,0.34) 99%,rgba(109,109,109,0.34) 100%);
    background: radial-gradient(ellipse at center, rgba(198,198,198,0.2) 0%,rgba(186,186,186,0.2) 13%,rgba(110,110,110,0.34) 99%,rgba(109,109,109,0.34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33c6c6c6', endColorstr='#576d6d6d',GradientType=1 );
    display: none;
    opacity: 0;
}

#modal.show{
    display: block;
    opacity: 1;
}
#modalContent-contact {
    background: #fff;
    box-shadow: none;
    border-left: 1px solid rgba(0,0,0,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1) !important;
    font-size: 12px;
    height: 310px;
    left: 50%;
    margin: -180px -450px;
    padding: 0px;
    position: fixed;
    text-transform: uppercase;
    top: 40%;
    width: 843px;
    z-index: 9999;
    text-align: center;
    border-radius: 2px;
}
#wraper-contact {
    margin: 0 auto;
    width: 840px;
    background: white;
    color: #696363;
    box-sizing: border-box;
    padding: 63px 0 25px;
}
#wraper-contact article {
    vertical-align: middle;
    text-align: center;
    padding: 50px 10px;
    height: 350px;
    margin: -11px;
}
#wraper-contact article, #wraper-contact form {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
#wraper-contact h2 {
    font-size: 26px;
    margin-bottom: 25px;
}
#wraper-contact p {
    font-size: 14px;
}
#wraper-contact form {
    margin-left: -5px;
    padding: 0px 30px;
    margin-top: -10px;
}
#wraper-contact article {
    border-right: 1px solid rgba(0, 0, 0, 0.16);
}
#wraper-contact textarea {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #A9A9A9;
    font-size: 13px;
}
#wraper-contact input, #wraper-contact textarea {
    width: 98%;
    height: 30px;
}
#wraper-contact input {
    margin-bottom: 10px;
}
#wraper-contact label {
    font-size: 12px;
    text-align: left;
}
#wraper-contact label, #wraper-contact input {
    display: block;
}
#wraper-contact label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
#wraper-contact textarea {
    height: 80px;
}
#wraper-contact input[type="submit"] {
    width: 150px;
    height: 40px;
    float: right;
    margin-right: 7px;
    margin-top: 15px;
    color: white;
    background: #e80e8a;
    border: 0px;
    font-size: 15px;
}
#wraper-contact input {
    margin-bottom: 10px;
}
#modalContent-contact > a {
    position: absolute;
    top: 10px;
    right: -13px;
    color: #fff;
    border-radius: 2px;
    background: #e80e8a;
    padding: 7px;
    text-transform: uppercase;
    font-size: 13px;
}

.material-header{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.material-header .material-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width:121px;
    height:121px;
    margin:5px;
    position: relative;
}

.material-header .material-card{
    min-width:280px;
}

.material-item.fingerprint{
    border: 1px dashed #E80E8A;
}

.material-item output{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    overflow: hidden;
}

#dropzone {
    position: relative;
    height: 100%;
    width: 100%;
}

#dropzone div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#dropzone img {
    width: 100%;
    height: 100%;
}

#dropzone [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.files-container{
    height:200px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.files-container .fingerprint{
    border: 1px solid #E80E8A;
    border-left: none;
}

.files-container .fingerprint:hover{
    border-style: dashed;
    border-left: none;
}

@media all and (min-width: 30px)  and (max-width: 650px){
    .SearchBar{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .SearchBar .wrap-content1{
        display: none;
    }
    .SearchBar div {
        margin: 15px auto;
    }

    .SearchBar .search{
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}