/*
   Author: Juan2Ramos & Drawde
   Description: Template créditos
   Author URI: juan2ramos.com - mi-martinez.com
   Version: 0.1
*/

/* Format Elements */
*:focus {
    outline: 0;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    background-color: #eeeeee;
    color: #949494;
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 14px;
}
li {
    list-style: none;
}
h1, h2, h3, ul,figure {
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.wrap{
    height: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 20px;
    position: relative;
    width: 100%;
}
.u-shadow-1{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.u-shadow-2{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.u-shadow-3{
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.u-shadow-4{
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.u-shadow-5{
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.u-button{
    -webkit-transform: translate3d(0,0,0);
    position: relative;
    padding: 15px;
    background-color: #e80e8a;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 0 #c40c74;
    border:none;
    width: 100%
}

.u-button:hover{
    background: #ff0f98;
}
.u-circle {
    position: absolute;
    z-index: 0;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    width: 100px;
    height: 100px;
}
.u-circle.is-animate {
    -webkit-animation: grow .3s linear;
    animation: grow .3s linear;
}

@keyframes grow {
    to {
        -webkit-transform: scale(2.5);
        opacity: 0;
    }
}

/* Header */

.Header{
    background: #dedede;
    text-align: center;
    width: 100%;
}
.Header-content{
    display: flex;
    margin: 0 2rem;
}
.Header-logoLilipink{
    background: #e80e8a;
    padding: 10px 10px 8px;
    width: 100px;
}
.Header-logoIntima{
    padding: 10px 10px 8px;
    width: 170px;

}
.Header-nav {
    background: rgba(255,255,255, 0.96);
    height: 100%;
    left: 0;
    padding-top:50px;
    position: fixed;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all 0.5s cubic-bezier(0.2, 0, 0.03, 1);
    top: 0;
    width: 100%;
    z-index: 1
}
.Header-nav > ul{
    width: 100%;
}
.Header-nav > ul > li  ul{
    display: none;
}
.Header-nav > ul > li:first-child > a{
     border-top: 1px solid #e80e8a;
 }

.Header-nav a{
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e80e8a;
    border-left: 1px solid #e80e8a;
    border-right: 1px solid #e80e8a;
}
.Header-nav > ul > li{
    margin: 0 20px;
}
.Header-nav ul a:hover{
    background: #e80e8a;
    color: #fff;
}
.Header-nav li a{
    color: gray;
    font-size: 1.5em;

}
.Header-nav  ul > li:hover > ul{
    display: block;
}
.Header-contentNav{
    flex:2;
    text-align: right;
}
.Header-buttonNav{
    background: #9d9d9d;
    cursor: pointer;
    display: inline-block;
    margin-bottom: -3px;
    position: relative;
    padding:  8px;
    z-index: 2;
}
.show--element{
    transform: translateY(0);
}
.u-line{
    transition: all 0.2s cubic-bezier(0.2, 0, 0.03, 1)
}
.Header-buttonNav.is-show .Header-line1{
    transform: rotate(135deg) translate(5px,-5px);
}
.Header-buttonNav.is-show .Header-line2{
    opacity: 0;
}
.Header-buttonNav.is-show .Header-line3{
    transform: rotate(-135deg) translate(5px,5px);
}
.u-line{
    display: block;
    background: #dedede;
    height: 4px;
    margin: 3px;
    width: 25px;
}
/* Input */
.material-input input{
    width:100%;
    position:relative;
    background:transparent;
    border:none;
    box-shadow: 0 2px 0px 0px rgba(102, 102, 102, 0.08);
}
.material-input input:focus{
    outline: 0;
}
.material-input{
    margin:40px 0;
    position: relative;
}
.material-input input:focus ~ span{
    width:100%
}
.material-input input:focus {
    height: 40px;
}
.material-input input:focus {
    outline: 0;
}
.material-input span{

    display: block;
    width: 0;
    height: 2px;
    background: #e80e8a ;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all 0.2s cubic-bezier(0.2, 0, 0.03, 1)
}
.material-input label{
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
    pointer-events: none;
}
.material-input input:focus ~ label, .material-input input:valid ~ label{
    top: -10px
}
.material-input input:valid ~ span{
    width:100%
}
.material-input input:focus,.material-input input:valid {
    height: 40px;
    padding-top: 20px;
}

/* Login */
.Login{
    margin: auto;
    max-width: 600px;
    transform: translateY(20%);
}
.Login-form{
    margin: auto;
    padding: 20px 20px 50px;
    width: 80%;
}
.label--checkbox {
    position: relative;
    line-height: 200%;
    cursor: pointer;
    margin-top:-10px;
    display: block;
    padding: 0 2px 20px
}

.checkbox {
    position: relative;
    margin: 0 1rem 0 0;
}
.checkbox:before {

    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    top:-2px;
    left: -2px;
    z-index: 1;
    width: 14px;
    height: 14px;
    border: 2px solid #bfbec0;
}
.checkbox:checked:before {

    transform: rotate(-45deg);
    height: 5px;
    width: 10px;
    top:2px;
    left:1px;
    border-color: #e80e8a;
    border-top-style: none;
    border-right-style: none;
}
.checkbox:checked:after{
    background: #fff;
    border: 2px solid #e80e8a;
    top:-2px;
    left: -2px;
}
.checkbox:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    background: rgb(219, 215, 211);
    cursor: pointer;
}
.label-danger{
    display: block;
    color:rgb(231, 90, 64);
    font-size: 1.2rem;
    font-weight: 500;
    padding-top:30px;
}

.Credito{
    margin: 10% auto 0;
    max-width: 600px;
}

.Credito-form{
    margin: auto;
    padding: 20px 20px 50px;
    width: 80%;
}

.imagen{
    margin-bottom: 30px;
}

#files{
    margin-bottom: 10px;
}

.pop-up{
    border: 1.5px solid #ff0f98;
    font-size: 16px;
    height: 200px;
    width: 100%;
    padding: 0;
    z-index: 3;
    margin-bottom: 20px;

}

.pop-up p{

    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

.pop-up:hover{
    border:1px dashed #ff0f98;

}

input[type=file] {
    width: 439px;
    border: 1px solid #ff0f98;
    height: 200px;
    z-index: 4;
    opacity: 0;
    margin-top: -145px;
    position: absolute;
    cursor:pointer;
}

input[type=file]:hover{
    margin-top: -166px;
}
.hover-file{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.46);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}
.hover-file1{
    height: 100% !important;
    width: 100% !important;
    background: rgba(0, 0, 0, 0.46);
    position: fixed !important;
    z-index: 3 !important;
    top: 166px;
    left: 0;
}

.imagen img{
    width: 25%;
    padding: 5px;
    max-height: 100px;
    vertical-align: middle;
}

.Remember{
    margin: auto;
    padding: 0 20px 30px;
    text-align: center;
    width: 80%;
}
.Remember a{
    color: #ff0f98;
}
.Remember a:hover{
    color: #ff53bd;
}

@media (min-width: 600px) {
    .Remember{ text-align: right; }
}





